<br>
<div class="img">
    <img src="../../assets/mumbai1.jpg" alt="">
</div>
<div class="row">
    <mat-card class="column">
        <mat-card-header>
            <h2>Map Direction</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.google.co.in/maps/place/Mumbai,+Maharashtra/@19.0821978,72.741099,11z/data=!3m1!4b1!4m5!3m4!1s0x3be7c6306644edc1:0x5da4ed8f8d648c69!8m2!3d19.0759837!4d72.8776559?hl=en&authuser=0"><img src="../../assets/map.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
    <mat-card class="column">
        <mat-card-header>
            <h2>Camping and Staying Ideas</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.thrillophilia.com/cities/mumbai/stays"><img src="../../assets/banglore.jpeg" style="width: 100%;"></a>


        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Places to Visit</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.holidify.com/places/mumbai/sightseeing-and-things-to-do.html"><img src="../../assets/sight.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Special Foods</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://edition.cnn.com/travel/article/mumbai-food-dishes/index.html"><img src="../../assets/mfood.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
</div>