<br>
<br>
<h3>Destinations To be Discovered</h3><br>
<div class="row">
    <mat-card class="column">
        <mat-card-header>
            <h2>Mumbai</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="./Mumbai"><img src="../../assets/mumbai.jpeg" (click)="onImageClick()" style="width:80%"> </a>
        </mat-card-content>

    </mat-card>
    <mat-card class="column">
        <mat-card-header>
            <h2>Banglore</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="./Banglore"><img src="../../assets/banglore.jpeg" (click)="onImageClick()" style="width:80%"> </a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Coorg</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="./Coorg"><img src="../../assets/coorg.jpeg" (click)="onImageClick()" style="width:80%"> </a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Chikmangalur</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="./Chikmangalur"><img src="../../assets/chickamangalor.jpeg" (click)="onImageClick()" style="width:80%"> </a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Delhi</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="./Delhi"><img src="../../assets/delhi (1).jpeg" (click)="onImageClick()" style="width:80%"> </a>
        </mat-card-content>

    </mat-card>


    <mat-card class="column">
        <mat-card-header>
            <h2>Goa</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="./Goa"><img src="../../assets/goa.jpeg" (click)="onImageClick()" style="width:80%"> </a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Pune</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="./Pune"><img src="../../assets/pune.jpeg" (click)="onImageClick()" style="width:80%"> </a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Manali</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="./Manali"><img src="../../assets/manali.jpeg" (click)="onImageClick()" style="width:80%"> </a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Shimla</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="./Shimla"><img src="../../assets/shimla.jpeg" (click)="onImageClick()" style="width:80%"> </a>
        </mat-card-content>

    </mat-card>


</div>