<br>
<div class="img">
    <img src="../../assets/banglore.jpeg" alt="">
</div>
<div class="row">
    <mat-card class="column">
        <mat-card-header>
            <h2>Map Direction</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.google.co.in/maps/place/Bengaluru,+Karnataka/@12.95396,77.4908527,11z/data=!3m1!4b1!4m5!3m4!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627?hl=en&authuser=0"><img src="../../assets/map.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
    <mat-card class="column">
        <mat-card-header>
            <h2>Camping and Staying Ideas</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.thrillophilia.com/cities/bangalore/stays"><img src="../../assets/banglore.jpeg" style="width: 100%;"></a>


        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Places to Visit</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.holidify.com/places/bangalore/sightseeing-and-things-to-do.html"><img src="../../assets/sight.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Special Foods</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://traveltriangle.com/blog/street-food-in-bangalore/"><img src="../../assets/mfood.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
</div>