<br>
<div class="img">
    <img src="../../assets/chickamangalor.jpeg" alt="">
</div>
<div class="row">
    <mat-card class="column">
        <mat-card-header>
            <h2>Map Direction</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.google.co.in/maps/place/Chikmagalur,+Karnataka/@13.3131108,75.737429,13z/data=!3m1!4b1!4m5!3m4!1s0x3bbad762c8a889dd:0xb3cf49155294be16!8m2!3d13.3161441!4d75.7720439?hl=en&authuser=0"><img src="../../assets/map.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
    <mat-card class="column">
        <mat-card-header>
            <h2>Camping and Staying Ideas</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.thrillophilia.com/cities/chikmagalur/stays"><img src="../../assets/banglore.jpeg" style="width: 100%;"></a>


        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Places to Visit</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.thrillophilia.com/places-to-visit-in-chikmagalur"><img src="../../assets/sight.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Special Foods</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.crazymasalafood.com/20-eating-joints-chikmagalur/"><img src="../../assets/mfood.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
</div>