<br>
<div class="img">
    <img src="../../assets/coorg.jpeg" alt="">
</div>
<div class="row">
    <mat-card class="column">
        <mat-card-header>
            <h2>Map Direction</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.google.co.in/maps/place/Madikeri,+Karnataka+571201/@12.4314275,75.7173603,14z/data=!3m1!4b1!4m5!3m4!1s0x3ba50075627a7fff:0xaf8a66ea4651c1a6!8m2!3d12.4244205!4d75.7381856?hl=en&authuser=0"><img src="../../assets/map.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
    <mat-card class="column">
        <mat-card-header>
            <h2>Camping and Staying Ideas</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.thrillophilia.com/cities/coorg/stays"><img src="../../assets/banglore.jpeg" style="width: 100%;"></a>


        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Places to Visit</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.holidify.com/places/coorg/sightseeing-and-things-to-do.html"><img src="../../assets/sight.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Special Foods</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.staysimple.in/coorg-blogs/5-delicious-dishes-from-coorg.html"><img src="../../assets/mfood.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
</div>