<br>
<h1>Welcome to Wanderlust!!!!!!!!!!! Lets explore India!!!</h1>

<div class="row">
    <div class="column">
        <img src="../../assets/t1.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="../../assets/t2.jpg" style="width:100%">
    </div>

    <div class="column">
        <img src="../../assets/t3.jpg" style="width:100%">
    </div>

</div>
<div>
    <h2>Collections of Best</h2>
    <div class="r1">
        <div class="c1">
            <a href="https://www.hostelworld.com/blog/places-to-travel-before-25/"><img src="../../assets/25.jpeg" style="width: 100%;"></a>
            <h3>Places you should visit before 25</h3>
        </div>
        <div class="c1">
            <a href="https://www.wanderlust.co.uk/content/india-best-things-to-do/"><img src="../../assets/place1.jpeg" style="width: 100%;"></a>
            <h3>9 of the Best Things to do in Indai</h3>
        </div>

        <div class="c1">
            <a href="https://www.tasteatlas.com/50-most-popular-foods-in-india"><img src="../../assets/food.jpeg" style="width: 100%;"></a>
            <h3>Most Popular Indian Foods</h3>
        </div>

        <div class="c1">
            <a href="https://www.wiwigo.com/blog/11-things-making-india-unique/"><img src="../../assets/unique.jpeg" style="width: 100%;"></a>
            <h3>11 Things that Make India unique in the World</h3>
        </div>

        <div class="c1">
            <a href="https://www.bbc.com/news/world-asia-25881705"><img src="../../assets/bigfacts.jpeg" style="width: 100%;"></a>
            <h3>Ten 'big facts' about India</h3>
        </div>


        <div class="c1">
            <a href="https://food.ndtv.com/food-drinks/best-street-foods-of-india-that-will-get-you-drooling-1843981"><img src="../../assets/sfood.jpeg" style="width: 100%;"></a>
            <h3>Best Street Foods Of India That Will Get You Drooling</h3>
        </div>

        <div class="c1">
            <a href="https://www.scoopwhoop.com/inothernews/interesting-india/"><img src="../../assets/interesting.jpeg" style="width: 100%;"></a>
            <h3>25 Interesting Facts On India That You Had No Idea About</h3>
        </div>




    </div>