<br>
<div class="img">
    <img src="../../assets/manali.jpeg" alt="">
</div>
<div class="row">
    <mat-card class="column">
        <mat-card-header>
            <h2>Map Direction</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.google.co.in/maps/place/Manali,+Himachal+Pradesh/@32.2394708,77.1696102,14z/data=!3m1!4b1!4m5!3m4!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761?hl=en&authuser=0"><img src="../../assets/map.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
    <mat-card class="column">
        <mat-card-header>
            <h2>Camping and Staying Ideas</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.thrillophilia.com/cities/manali/stays"><img src="../../assets/banglore.jpeg" style="width: 100%;"></a>


        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Places to Visit</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.holidify.com/places/manali/sightseeing-and-things-to-do.html"><img src="../../assets/sight.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>

    <mat-card class="column">
        <mat-card-header>
            <h2>Special Foods</h2>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.holidify.com/pages/food-of-himachal-pradesh-1647.html"><img src="../../assets/mfood.jpg" style="width: 100%;"></a>
        </mat-card-content>

    </mat-card>
</div>